@import '../../scss/mediaqueries';
.footer {
  height: 11rem;
  background-color: #2d3436;
  @include respond-max(xs) {
    height: auto;
  }
  &-content {
    margin: 0 auto;
    max-width: 138rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond-max(xs) {
     justify-content: center;
      flex-direction: column;
    }
  }
  &-message {
    display: flex;
    align-items: center;
    justify-content: stretch;
    
    svg {
      height: 4rem;
      width: 5rem;
      fill:#55efc4;
    }
  }
  h2 {
    color:#55efc4;
    font-weight: normal;
  }
  .currency-section {
    @include respond-max(xs) {
      margin-top: 1rem;
    }
  }
  
  .currency {
      margin-left: 5px;
      color:#fdcb6e;
    .ron {
      font-size: 1.2rem;
      @include respond-max(xs) {
        text-align: center;
      }
    }
    i {
      font-weight: lighter;
      font-size: 9px;
      
    }
    .update {
      @include respond-max(xs) {
        text-align: center;
      }
    }
  }
  .countdown {
    color:#81ecec;
    text-align: center;
    p{
      font-size: 1.6rem;
      &:nth-child(2) {
        font-size: 1.4rem;
        color: #81ecec;
      }
    }
    @include respond-max(xs) {
      margin-top: 1rem;
    }
  }
 
  
}